<!doctype html>
<html>
<head>
    <title>Sign In | RepoStory</title>
    <%- include('./partials/head') %>
</head>
<body>
<div class="container">

    <div class="login-prompt material-card">
        <h1>Please Sign In</h1>
        <img src="/img/icon.png" class="logo">

        <p><strong>RepoStory</strong> is built using the <a href="https://developer.github.com/v4/" target="_blank">GitHub API</a>. For it to show you information about repositories and their commit history you need to authorize access by signing in with your GitHub account.</p>

        <a href="/auth/github" class="btn">Continue</a>

    </div>

</div>
</body>
</html>