<!doctype html>
<html>
<head>
    <title>Explore | RepoStory</title>
    <%- include('./partials/head') %>
    <!-- custom javscript -->
    <script src="/js/main.js"></script>
</head>
<body>
<div class="container">

</div>
</body>
</html>