html {
  font-family: sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  background-color: rgb(245, 245, 245);
}

.container {
  height: 100vh;
  padding: 6px 10px 6px 10px;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.login-prompt {
  position: relative;
  width: 100%;
  max-width: 500px;
  font-size: 16px;
}

.material-card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 40px 40px 60px 40px;
  background-color: white;
  text-align: center;
}

.material-card p {
  text-align: justify;
}

.material-card h1 {
  position: relative;
  text-transform: uppercase;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  /* font-size: 30px;
  line-height: 1.5; */
  letter-spacing: 0.2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 0.8em;
  border-top: dashed 3px rgb(50, 50, 50);
  border-bottom: dashed 3px rgb(50, 50, 50);
}

.material-card a {
  color: black;
  font-weight: bold;
}

.btn {
  text-transform: uppercase;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  letter-spacing: 0.2em;
  display: inline-block;
  padding: 10px 24px;
  margin-top: 20px;
  background-color: white;
  color: rgb(50, 50, 50);
  border-style: solid;
  border-width: 3px;
  border-color: rgb(50, 50, 50);
}
.btn:hover {
    background-color: rgb(50, 50, 50);
    color: white;
}

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.commit-header {
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-size: 14px;
  color: rgb(150, 150, 150);
  padding: 0px 6px 3px 6px;
}

.commit-content {
  width: 30%;
  height: 100%;
  float: left;
}

.commit-transition {
  width: 5%;
  height: 100%;
  float: left;
}

.blame-block {
  margin-bottom: 5px;
  background-color: rgb(245, 166, 35); /* orange */
  overflow: hidden;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: "IBM Plex Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.line-number {
  float: left; /* alternate to float: right; for different layout */
  text-align: right;
  overflow: hidden;
  padding-right: 7px;
  width: 8%;
  background-color: rgb(213, 142, 26); /* dark orange */
  /* hacky way to ensure equal heights */
  margin-top: -3px;
  padding-top: 3px;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

.line-text {
  float: left;
  padding-left: 6px;
  padding-right: 6px;
  width: 92%;
  /* hacky way to ensure equal heights */
  padding-bottom: 100%;
  margin-bottom: -100%;
}